.btn.dg-category {
    color:darkgray;
    background-color: white;
}

.btn.dg-category:hover {
    background-color: orangered;
    color:white;
}

.btn.dg-category[dg-activated] {
    background-color: orangered;
    color:white;
}

