
/* Category Buttons */
.btn.dg-category {
    color:darkgray;
    background-color: white;
}

.btn.dg-category:hover {
    background-color: orangered;
    color:white;

}

.btn.dg-category[dg-activated] {
    background-color: orangered;
    color:white;
}

/* All Category Button */
.btn.dg-allcategories {
    color:darkgray;
    background-color: white;
}

.btn.dg-allcategories:hover {
    background-color: orangered;
    color:white;
}

.btn.dg-allcategories[dg-activated] {
    background-color: orangered;
    color:white;
}

/* Images */
.dg-img {
    height: 250px;
    width:100%;
}

/* owl dot buttons */
.btn.owl-dot{
    border: none;
}

#customDots{
    border:1px;
}

/* 
.owl-dots button.owl-dot{
    border: 1px solid gray;
    background: white;
     border-radius: 50%;
     height: 16px;
     width: 16px;
     position: relative;
  } */

/* owl carousel */


/* .category-owl-carousel .item button{
display: block;
width: 100%;
height: auto;
}; */