<div class="row">
  {% for item, categories in items_with_categories %}
    <div class="col-sm-12 col-md-6  col-xl-4 py-3 px-3">
      <div class="card h-100 dg-img_card" dg-categories="{{ categories }}">
        <img src="{{ item.image.url }}" alt="" class="dg-img card-img-top">
        <div class="card-body">
					<h5 class="card-title">{{item.title}}</h5>
					<a href="{% url 'GalleryDetail' pk=item.pk %}" class="btn btn-primary btn-sm card-button">See More</a> <!-- Position button to the far right of the title-->
					<p class="card-text">{{item.body_tex}}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

