{% extends "base.html" %}
{% load static %}


{% block dynamic_gallery_styles %}
<link rel="stylesheet" href="{% static 'Gallery/css/slick.css' %}">
<link rel="stylesheet" href="{% static 'Gallery/css/slick-theme.css' %}"> 
<link rel="stylesheet" href="{% static 'Gallery/fonts/slick.ttf' %}">
<link rel="stylesheet" href="{% static 'Gallery/fonts/slick.woff' %}">
<link rel="stylesheet" href="{% static 'Gallery/css/dg.css' %}">
{% endblock %}

{% block page_content %}

<h2>{{ page_title }}</h2>

<section>
  <div class="container">
    {% include "Gallery/_categories.html" %}
  </div>
</section>


<section class="pt-3">
  <div class="container">
    {% include "Gallery/_images.html" %}
  </div>
</section>

{% endblock %}


{% block dynamic_gallery_scripts %}
  <script src="{% static 'Gallery/js/slick.min.js'%}"></script> 
  <script src="{% static 'Gallery/js/dg.js' %}"></script>
{% endblock %}


