{% extends "base.html" %}
{% load static %}


{% block dynamic_gallery_styles %}
<link rel="stylesheet" href="{% static 'Gallery/css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'Gallery/css/owl.theme.default.css' %}"> 
<link rel="stylesheet" href="{% static 'Gallery/css/style.css' %}">
{% endblock %}

{% block page_content %}

<h2>{{ page_title }}</h2>

<div>
  {% include "Gallery/_categories.html" %}
</div>

<section class="pt-3">
  <div class="container-lg">
    {% include "Gallery/_images.html" %}
  </div>
</section>

{% endblock %}


{% block dynamic_gallery_scripts %}
  <script src="{% static 'Gallery/scripts/owl.carousel.min.js'%}"></script>
  <script src="{% static 'Gallery/scripts/dg.js' %}"></script>
{% endblock %}


